head{
}

.page-title{
  font-weight: 500;
  font-family: 'Alegreya Sans SC', sans-serif;
}

/*<-- mainnavbar -->*/

ul {
  list-style-type: none;
  margin: 0px;
  margin-bottom: 30px;
  padding: 0px;
}

button {
  display: inline;
  background-color: white;
  padding: 0px;
  border: 0px;
}

a{
  text-decoration: none;
  color: black;
}

.button1{
  font-weight: 300;
  font-family: 'Alegreya Sans SC', sans-serif;
  opacity: 0.5;
  font-size: 15px;
  margin-right: 20px;
}

.button2{
  font-weight: 300;
  font-family: 'Alegreya Sans SC', sans-serif;
  opacity: 0.5;
  font-size: 15px;
}

.button3{
  font-weight: 300;
  font-family: 'Alegreya Sans SC', sans-serif;
  opacity: 0.5;
  font-size: 15px;
  margin-left: 20px;
}

/*<-- bio -->*/

img {
  /*max-width: 300px;*/
  display: block;
}

.myBio {
  display: block;
  font-weight: 400;
  font-family: 'EB Garamond', serif;
  /*max-width: 300px;*/
  margin: auto;
  text-align: center;
}

footer {
  height: 100px;
}
