.page-title{
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 35px;
}

.rectangle1 a {
  background-color: #F08080;
  width:300px;
  height:300px;
  position: absolute;
  top: -100%;
  left: -100%;
  right: -75%;
  bottom: -100%;
  margin: auto;
  border: solid 2px white;
}

.rectangle1 a:hover {
  background-color: #D8BFD8;
                       -webkit-transition: background-color 1000ms linear;
                       -moz-transition: background-color 1000ms linear;
                       -o-transition: background-color 1000ms linear;
                       -ms-transition: background-color 1000ms linear;
                       transition: background-color 1000ms linear; 
  cursor: pointer;
  border: white;
}

.rectangle2 a {
  background-color:#ADD8E6;
  width:300px;
  height:300px;
  position: absolute;
  top: -100%;
  left: -75%;
  right: -100%;
  bottom: -100%;
  margin: auto;
  border: solid 2px white;
}

.rectangle2 a:hover {
  background-color: #D8BFD8;
                       -webkit-transition: background-color 1000ms linear;
                       -moz-transition: background-color 1000ms linear;
                       -o-transition: background-color 1000ms linear;
                       -ms-transition: background-color 1000ms linear;
                       transition: background-color 1000ms linear; 
  cursor: pointer;
  border: white;
}

button{
  display: inline;
  background-color: white;
  text-decoration: none;
}

.list {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 20px;
  line-height: 1.5;
  color: black;
  cursor: pointer;
  display: inline-block;
}

.section-text {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 30px;
  color: black;
  cursor: pointer;
  display: inline-block;
}

#list {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 20px;
  line-height: 1.5;
  color: black;
  cursor: pointer;
  float:right;
}

#section-text {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 30px;
  color: black;
  cursor: pointer;
  float: right;
}

a {
  text-decoration: none;
}

.contact{
  font-size: 15px;
  font-family: 'Alegreya Sans SC', sans-serif;
  width: 100%;
  position:fixed;
  bottom:0;
  left:0;
  margin-bottom: 30px;
}