head{
}

.page-title{
  font-weight: 500;
  font-family: 'Alegreya Sans SC', sans-serif;
}

/*<-- mainnavbar -->*/

ul {
  list-style-type: none;
  margin: 0px;
  margin-bottom: 30px;
  padding: 0px;
}

button {
  display: inline;
  background-color: white;
  padding: 0px;
  border: 0px;
}

a{
  text-decoration: none;
  color: black;
}

.button1{
  font-weight: 300;
  font-family: 'Alegreya Sans SC', sans-serif;
  opacity: 0.5;
  font-size: 15px;
  margin-right: 20px;
}

.button2{
  font-weight: 300;
  font-family: 'Alegreya Sans SC', sans-serif;
  opacity: 0.5;
  font-size: 15px;
}

.button3{
  font-weight: 300;
  font-family: 'Alegreya Sans SC', sans-serif;
  opacity: 0.5;
  font-size: 15px;
  margin-left: 20px;
}

/*<-- WORKS subbar -->*/

.moverButton {
  width: 100px;
  height: 100px;
  display: inline-block;
  opacity: 0.5;
  cursor: pointer;
}

.organizerButton{
  width: 100px;
  height: 100px;
  display: inline-block;
  opacity: 0.5;
  cursor: pointer;
}

.designerButton{
  width: 100px;
  height: 100px;
  display: inline-block;
  opacity: 0.5;
  cursor: pointer;
}

.actorButton{
  width: 100px;
  height: 100px;
  display: inline-block;
  opacity: 0.5;
  cursor: pointer;
}

/*<-- subsubbar -->*/

.specific {
  text-align: center;
}

#exp {
  margin: 20px;
  display: inline;
  font-family: 'Alegreya Sans SC', sans-serif;
  cursor: pointer;
}

#prd {
  margin: 20px;
  display: inline;
  font-family: 'Alegreya Sans SC', sans-serif;
  cursor: pointer;
  opacity: 0.5;
}

/*<-- experience -->*/

/*.experience {
  display: none;
}*/

.title{
  font-weight: 300;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 25px;
  margin: 30px;
}

.description-text{
  font-weight: 400;
  font-family: 'EB Garamond', serif;
  width: 60%;
  margin-top: 20px;
}

.description-subtext{
  font-weight: 400;
  font-family: 'EB Garamond', serif;
  width: 60%;
  margin-bottom: 30px;
}

#description-text{
  font-weight: 300;
  font-family: 'Alegreya Sans SC', sans-serif;
  margin-top: 20px;
  width: 75%;
}

/*<-- productions -->*/
.productions {
  display: none;
}

.production-title{
  font-weight: 500;
  font-family: 'EB Garamond', serif;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.production-detail{
  font-weight: 300;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 13px;
  margin-bottom: 10px;
}

/*<-- videoembed -->*/

iframe{
  margin-top: 25px;
}

p{
  font-weight: 400;
  font-family: 'EB Garamond', serif;
  margin: 10px;
}

/*<-- images -->*/

.photoCred {
  font-weight: 400;
  font-family: 'EB Garamond', serif;
  font-size: 15px;
}

img {
    width: 100px;
    height: 100px;
    display: inline-block;
    opacity: 1.0;
}

#section-images > img {
    width: 60%;
    height: 60%;
    opacity: 1;
    display: inline-block;
    margin: 15px;
}

/*<-- dividers -->*/

.featurette-divider {
  margin-top: 80px;
  max-width: 50%;
}

.featurette-divider2 {
  max-width: 50%;
}

#featurette-divider {
  margin-top: 80px;
  max-width: 10%;
}
